@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    /* Apply the primary font to the root html element */
    @apply font-primary antialiased;
    
    line-height: 1.5;
    font-weight: 400;

    /* color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424; */
  }

  body {
    margin: 0;
  }
}
