@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=IBM+Plex+Mono:ital,wght@0,100..700;1,100..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=ZCOOL+QingKe+HuangYou&display=swap');
@import "tailwindcss";

@theme {
  --font-primary: "Bebas Neue", sans-serif;
  --font-secondary: "IBM Plex Mono", monospace;
  --font-chinese: "ZCOOL QingKe HuangYou", sans-serif;

  --color-grey: #242424;
  --color-red: #FF0000;
  --color-teal: oklch(0.7815 0.1616 166.02);
  --color-black: oklch(0 0 0);
}

@layer base {
  /* Hide scrollbar for Chrome, Safari and Opera */
  ::-webkit-scrollbar {
    display: none;
  }

  html,
  body,
  #root {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #000000;
    @apply antialiased;
    font-family: var(--font-primary);
    
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}

@layer utilities {
  html.lenis, html.lenis body {
    height: auto;
  }

  .lenis.lenis-smooth {
    scroll-behavior: auto !important;
  }

  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }

  .lenis.lenis-stopped {
    overflow: hidden;
  }

  .lenis.lenis-scrolling iframe {
    pointer-events: none;
  }
}